$font-stack: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
$primary-color: #754cd4ab !important;

$alert-border-radius: 10;

@mixin theme ($theme:#560BAD) {
    background-color: $theme;
}
body {
    font-family: $font-stack;
    background-color: $primary-color;
}

#ind {
    padding-left: 40px;
    position: right;
}

#nojakit {
    padding-left: 80px;
    padding-right: 20px;
}

#palaute {
    padding-left: 50px;
}

*[class^="col-md"], .col-md {
    border: 1px solid rgb(66, 54, 54);
    padding: 5px;
}

*[class^="caption"], .caption {
    margin-top: 5px;
    text-align: center;
}

*[class^="row"], .sm-3 {
    padding: 10px;
}

h1, h3, h4 {
    padding-top: 20px;
    padding-bottom: 20px;
}

footer {
    @include theme;
    border-top: 10px;
}

@media screen and (max-width: 768px) {
    textarea { 
    resize: horizontal;
  }
}