body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #754cd4ab !important;
}

#ind {
    padding-left: 40px;
    position: right;
}

#nojakit {
    padding-left: 80px;
    padding-right: 20px;
}

#palaute {
    padding-left: 50px;
}

*[class^="col-md"], .col-md {
    border: 1px solid rgb(66, 54, 54);
    padding: 5px;
}

*[class^="caption"], .caption {
    margin-top: 5px;
    text-align: center;
}

*[class^="row"], .sm-3 {
    padding: 10px;
}

h1, h3, h4 {
    padding-top: 20px;
    padding-bottom: 20px;
}

footer {
    background-color: #560BAD;
    border-top: 10px;
    padding: 50px;
  }
  
/*
.selector-for-some-widget {
    box-sizing: content-box;
  }
*/
